.thumbnail {
    width: 150px;
}

button.link-button.btn.btn-primary  {
    color: #007791;
    background-color: transparent;
    font-weight: 400;
    border: none;
    display: block;
    text-decoration: none;
    font-size: 13px;
    padding: 0;
}

.course-card-content img{
    margin-right: 5px;
}

.price .discounted-price {
    margin-block-end: 0;
}

.original-price {
    text-decoration: line-through;
    color: #686f7a;
    font-size: 15px;
    font-weight: 200;
}

.discounted-price {
    color: #ec5252;
    font-size: 15px;
    font-weight: 700;
}