.card-content {
    width: 620px;
}

.thumbnail {
    width: 150px;
}

.course-container {
    width: 50%;
}

button.link-button.btn.btn-primary  {
    color: #007791;
    background-color: transparent;
    font-weight: 400;
    border: none;
    display: block;
    text-decoration: none;
    font-size: 13px;
    padding: 0;
}