.main-navbar.navbar {
    @media (min-width: 992px) {
        height: 100px;
    }
    .search-input {
        width: 300px;
        display: inline-block;
        height: 45px;
        border-radius: 25px;
    }
}


