.card-deck .card-wrapper {
    flex: 0 0 20%;
}

.course-card.card {
    width: 250px;
}

.card-deck-title{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.card-deck-auhtor{
    font-size: 12px;
    font-weight: 400;
    color: #686f7a;
}

.card-deck-discounted-price{
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.course-description{
    padding: 15px;
}