.card-item{
    width: 770px;
    float: right;
}

.card-header{
    background-color: #FFF;
}

.card-title {
    display: inline;
}

.container{
    margin-top: 50px;
}

img.card-img-top.images {
    width: 290px;
}

.margin-img{
    margin: auto 0;
}

.price {
    float: right;
}