.card-item{
    border: none;
    height: 250px;
    width: 770px;
    margin-left: 20px;
    float: right;
}

.card-header{
    background-color: #FFF;
}

.container{
    margin-top: 50px;
}

img.card-img-top.images {
    width: 290px;
}

.margin-img{
    margin: auto 0;
}
